<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% category.forEach((item, index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= item.name %></td>
      <td>
        <form action="">
          <!-- Edit Button -->
          <a href="" class="btn btn-warning">
            <i class="fas fa-pencil-alt"></i> Ubah
          </a>

          <!-- Delete Button -->
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash"></i> Hapus
          </button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
